<%- include("header") -%> 

<h2>
  This is the About page
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti doloribus iusto optio sunt porro laudantium ab facere tempora cumque voluptas, minus, adipisci, iure et ex incidunt soluta odio fuga laborum.</p>

<%- include("footer") -%> 